body{
    width:600px;
    margin:0 auto;
    background-color: #FF9500;
    padding:0px 20px 20px 20px;
    border:5px solid black;
}
h1{
    margin:0;
    padding:20px 0;
    color:#00539F;
    text-shadow:3px 3px 5px black;
}
p{
    color:red;
}
img{
    width:300px;
    height:200px;
    display:block;
    margin:0 auto;

}
#image{
    border:5px solid green;
}
.myImage{
    background-size: cover;
    outline: 3px solid red;
}
img:hover{
    width:400px;
    height:250px;
}